<databaseInfo>
<APPLICATION_NAME>jdtraffic</APPLICATION_NAME>
<CLIENT_ID>525309851991-r6lsiivtnsfj0dmcg133ssajat739qks.apps.googleusercontent.com</CLIENT_ID>
<CLIENT_SECRET>AZ4ATTh5Mf783Xbc_LNiwNAN</CLIENT_SECRET>
<REFRESH_TOKEN>1/d2Q7LBlsyWFlWqB6bimsT93ULQochEsYkUODO_Z62vk</REFRESH_TOKEN>
<NETWORK_CODE>61493089</NETWORK_CODE>
<REDIRECT_URL>https://jdtraffic.2adpro.com/getRefreshAccessTokens.php</REDIRECT_URL>
<APP_VERSION>v201608</APP_VERSION>
<ACCESS_KEY_TABLE>oauth_access_key</ACCESS_KEY_TABLE>
<USER_EMAIL_ID>umakant.b@2adpro.com</USER_EMAIL_ID>
<REDIS_CONNECTION_STRING>redis://127.0.0.1:6379</REDIS_CONNECTION_STRING>
<HTTP_PATH>http://jdtrafficws.localhost</HTTP_PATH>
<JDX_JOB_PATH>/home/umakant/jobs/2adpro/2adpro1/COMPLETED/</JDX_JOB_PATH>
<JDTRAFFIC_WS_URL>http://localhost/ws-jdtraffic/web/index.php</JDTRAFFIC_WS_URL>
<DB_HOST>localhost</DB_HOST>
<DB_USER>umakant</DB_USER>
<DB_PWD>welcome@123</DB_PWD>
<DB_NAME>jdtraffic</DB_NAME>
</databaseInfo>